
 
 * {
    font-family: "Mali", cursive;
  }
  
#HNN {
    text-align: center;
    background-color: #FEC4D9;
}
#bd {margin-left: 40px;
    margin-top:20px ;

}
#sa {margin-left: 70px;
    
}
#nu{
    text-align: center;
}


#cad{
    margin-left: 100px;
}